<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <table border="2" cellpadding="5">
        <tr>
            <th>ID</th>
            <th>Login</th>
            <th>Password</th>
            <th>Age</th>
            <th>City</th>
            <th>Role</th>
            <th> </th>
            <th> </th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"> </td>
            <td th:text="${user.name}"> </td>
            <td th:text="${user.password}"> </td>
            <td th:text="${user.age}"> </td>
            <td th:text="${user.city}"> </td>
            <td th:text="${#strings.replace(
                    #strings.replace(user.roles, '[',''),
                    ']','')}">
            </td>
            <td><a th:href="@{/admin/update/{id}(id=${user.id})}">Update</a></td>
            <td><a th:href="@{/admin/delete/{id}(id=${user.id})}">Delete</a></td>
        </tr>
    </table>
    <h2>
        <form th:action="@{/admin/add}" th:object="${userNew}" method="post">
            <input type="text" th:field="*{name}" Name />
            <input type="text" th:field="*{password}" Password />
            <input type="text" th:field="*{city}" City />
            <input type="number" th:field="*{age}" Age/>
            <input type="submit" value="signUp">
        </form>
    </h2>
</body>
</html>