<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Login</th>
            <th>Password</th>
            <th>Role</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}" items="${requestScope.users}" var="user" varStatus="vs">
            <td th:text="${user.id}">id</td>
            <td th:text="${user.name}">login</td>
            <td th:text="${user.password}">password</td>
            <td th:text="${#strings.replace(
                    #strings.replace(user.roles, '[',''),
                    ']','')}">
                role
            </td>
            <td>
                <form method="get" action="#" th:action="@{/admin/update}">
                    <input type="submit" value="Update"/>
                    <input type="hidden" th:name="id" th:value="${user.id}"/>
                </form>
            </td>
            <td>
                <form method="POST" action="#" th:action="@{/deleteuser}">
                    <input type="submit" value="Удалить"/>
                    <input type="hidden" th:name="id" th:value="${user.id}"/>
                </form>
            </td>

        </tr>
        </tbody>
    </table>
    <h2><a href="#" th:href="@{/adminuseradd}">Add user</a></h2>

</body>
</html>