<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
    <h2>Update</h2>
    <form method="POST" th:action="@{/admin/update}" th:object="${user}">
        <td th:text="Id"></td><input type="text" readonly th:field="*{id}" />
        <td th:text="Name" ></td><input type="text" th:field="*{name}"/>
        <td th:text="Password" ></td><input type="text" th:field="*{password}"/>
        <td th:text="City"></td><input type="text" th:field="*{city}"/>
        <td th:text="Age" ></td><input type="number" th:field="*{age}"/>
            <td th:each="role : ${roles}">
                <input type="checkbox" th:field ="*{roles}" th:value="${role.id}"  th:checked="${user.getRoles().contains(role)} ?'checked'">
                <label th:text="${role.authority}" ></label>
            </td>
        <button type="submit"> Update</button>
    </form>
</body>
</html>