<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
<h1>Update</h1>
<form method="POST" th:action="@{/admin/update}" th:object="${user}">
    <table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Password</th>
        <th>City</th>
        <th>Age</th>
        <th>Roles</th>
    </tr>
    <tr>
        <td><input type="text" readonly th:field="*{id}"/></td>
        <td><input type="text" th:field="*{name}"/></td>
        <td><input type="text" th:field="*{password}"/></td>
        <td><input type="text" th:field="*{city}"/></td>
        <td><input type="number" th:field="*{age}"/></td>
        <td th:each="role : ${roles}">
            <input type="checkbox" th:field="*{roles}" th:value="${role.id}"
                   th:checked="${user.getRoles().contains(role)} ?'checked'">
            <label th:text="${role.authority}"></label>
        </td>
    </tr>
    </table>
    <button type="submit"> Update</button>
</form>
</body>
</html>