<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Create your account</h1>
<form th:action="@{/registration}" th:object="${userForm}" method="post">
    <label> Name <input type="text" th:field="*{name}"/></label>
    <label>Password: <input type="text" th:field="*{password}"/></label>
    <label>City: <input type="text" th:field="*{city}"/></label>
    <label>Age: <input type="number" th:field="*{age}"/></label>
    <input type="submit" value="signUp">
</form>
<p th:if="${error}" th:utext="${error}">
</p>
</body>
</html>