<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign in</title>
</head>
<body>
<h1>Hello, sign in!</h1>
<form th:action="@{/login/process}" method="post">
    <label> Name <input type="text" th:name="username"> </label>
    <label>Password<input type="password" th:name="userpassword"></label>
    <input type="submit" value="signin">
</form>
<p th:if="${error}" th:utext="${error}">
<form th:action="@{/registration}" method="get">
    <input type="submit" value="signup">
</form>
</p>
</body>
</html>